/* COMEÇO DO ESTILO PADRÃO ENTRE PAGINAS */
html {
  height: 100vh;
}

body {
  margin: 0;
  height: 100vh;
  position: relative;
  background-image: url(/images/fingerprintLaranja.svg);
}

body::after {
  content: "";
  display: block;
  height: 70px; /* Set same as footer's height */
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-weight: 900;
  margin: 0;
  text-decoration: none;
  color: #f2f2f2;
}

.header {
  padding: 10px 0px 20px;
  background: #212832;
}

.navegacao {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
}

.teste {
  display: flex;
}

.nav-menu {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 15px;
  list-style-type: none;

  /* pula uma linha quando o conteudo nao cabe na linha */
  flex-wrap: wrap;
}

.nav-botao-home {
  padding-block: 0;
  padding-inline: 0;
  border: none;
  text-decoration: none;
  color: #f2f2f2;
  background: #f96c00;
  padding: 15px 30px;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
}

.nav-botao {
  padding-block: 0;
  padding-inline: 0;
  border: none;
  text-decoration: none;
  color: #f2f2f2;
  background: #f96c00;
  padding: 15px 30px;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
}

#invisible-box {
  height: 45px;
  width: 100px;
}

/* estilo aplicado quando passa o mouse por cima do botao */
.nav-botao:hover {
  cursor: pointer;
  background: #cc5800;
  color: #e6e6e6;
  transition: 0.3s;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #212832;
}

#footer-h1 {
  padding: 15px 0 10px;
}

/* FINAL DO ESTILO PADRÃO ENTRE PAGINAS */

.container {
  display: grid;
  place-content: center;
}

.sub-container {
  background: #212832;
  padding: 5px;
  margin: 15px;
  border: solid #f96c00;
  border-radius: 4px;
}

.sub-container h2 {
  margin: 0 0 15px 0;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-weight: 700;
  text-decoration: none;
  color: #f2f2f2;
  position: relative;
}

.sub-container h2::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 110px;
  display: inline-block;
  left: 0;
  bottom: 0;
  background-color: #cc5800;
}

.register-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.register-container input,
select {
  width: 100%;
  padding: 10px 15px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#columnNameSelect {
  border: 0;
}

.tipoItem {
  display: flex;
}

.tipoItem div {
  display: flex;
  flex-wrap: wrap;
  place-content: center;
}

.novoTipoItem {
  margin-left: 10px;
  color: #f2f2f2;
  background: #f96c00;
  padding: 10px 20px;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 15px;
}

.button-cadastrar {
  padding-block: 0;
  padding-inline: 0;
  border: none;
  text-decoration: none;
  color: #f2f2f2;
  background: #f96c00;
  padding: 15px 30px;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
}

.button-cadastrar:hover {
  cursor: pointer;
  background: #cc5800;
  color: #e6e6e6;
  transition: 0.3s;
}

/* COMECO DO ESTILO DO POPUP CADASTRAR TIPO DE ITEM */
#popup {
  display: grid;
  place-content: center;
  visibility: hidden;
  opacity: 0;
  transition: 0.1s;
}

.popup-sub-container {
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-55%, -50%);
  box-shadow: 0 5px 30px #212832;
  background: #212832;
  padding: 5px;
  margin: 15px;
  border: solid #f96c00;
  border-radius: 4px;
}

.popup-sub-container h2 {
  margin: 0 0 15px 0;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-weight: 700;
  text-decoration: none;
  color: #f2f2f2;
  position: relative;
}

.popup-sub-container h2::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 110px;
  display: inline-block;
  left: 0;
  bottom: 0;
  background-color: #cc5800;
}

.tabela-tipoitem {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.tabela-tipoitem input {
  width: 100%;
  padding: 10px 15px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.popup-cadastrar {
  padding-block: 0;
  padding-inline: 0;
  border: none;
  text-decoration: none;
  color: #f2f2f2;
  background: #f96c00;
  padding: 15px 30px;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
}

.popup-cadastrar:hover {
  cursor: pointer;
  background: #cc5800;
  color: #e6e6e6;
  transition: 0.3s;
}
/* FINAL DO ESTILO DO POPUP CADASTRAR TIPO DE ITEM */

#header.active {
  filter: blur(20px);
  pointer-events: none;
  user-select: none;
}

#main.active {
  filter: blur(20px);
  pointer-events: none;
  user-select: none;
}

#footer.active {
  filter: blur(20px);
  pointer-events: none;
  user-select: none;
}

#popup.active {
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
}
