html {
  height: 100vh;
}

body {
  margin: 0;
  height: 100vh;
  position: relative;
  background-image: url(/images/fingerprintLaranja.svg);
}

body::after {
  content: "";
  display: block;
  height: 70px; /* Set same as footer's height */
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-weight: 900;
  margin: 0;
  text-decoration: none;
  color: #f2f2f2;
}

.header {
  background: #212832;
  padding: 10px 0px 20px;
}

.nav-menu {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 35px;
  list-style-type: none;

  /* pula uma linha quando o conteudo nao cabe na linha */
  flex-wrap: wrap;
}

.nav-botao {
  padding-block: 0;
  padding-inline: 0;
  border: none;
  text-decoration: none;
  color: #f2f2f2;
  background: #f96c00;
  padding: 15px 30px;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
}

/* estilo aplicado quando passa o mouse por cima do botao */
.nav-botao:hover {
  cursor: pointer;
  background: #cc5800;
  color: #e6e6e6;
  transition: 0.3s;
}

.log_out {
  padding-block: 0;
  padding-inline: 0;
  border: none;
  text-decoration: none;
  color: #f2f2f2;
  background: red;
  padding: 15px 30px;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
}

/* estilo aplicado quando passa o mouse por cima do botao */
.log_out:hover {
  cursor: pointer;
  background: darkred;
  color: #e6e6e6;
  transition: 0.3s;
}

#muda-cor-botao {
  border: none;
  position: absolute;
  z-index: 3;
  bottom: 11px;
  left: 15px;
  text-decoration: none;
  font-size: 1rem;
  color: #f2f2f2;
  background: #f96c00;
  padding: 15px 15px;
  border-radius: 10px;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
  box-shadow: 0 3px #c6c6c6;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #212832;
}

#footer-h1 {
  padding: 15px 0 10px;
}

.img_ferramenta{



}

.container_ferramenta {

  display: flex;
  justify-content: center;
  align-items: center;


}

.titulo {

  text-align: center;
}