body {
  margin: 0;
  height: 100vh;
  position: relative;
  background-image: url(https://jaobuenoh.github.io/code-stock/dashboard/src/main/resources/static/images/fingerprintLaranja.svg);
}

main {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -100%);
}

.logo {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-weight: 900;
  font-size: 2rem;
  margin: 0;
  text-decoration: none;
  color: #f2f2f2;
}

.login {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 5px;
  padding: 5px;
  margin: 15px;
  border: solid #f96c00;
  border-radius: 15px;
  background: #212832;
}

.login input {
  padding: 12px 15px;
  border: none;
  border-radius: 15px;
  box-sizing: border-box;
}

.login .button-login {
  padding-block: 0;
  padding-inline: 0;
  border: none;
  text-decoration: none;
  color: #f2f2f2;
  background: #f96c00;
  padding: 12px 30px;
  border-radius: 15px;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
}

.login .button-login:hover {
  cursor: pointer;
  background: #cc5800;
  color: #e6e6e6;
  transition: 0.3s;
}
