<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Página não encontrada</title>
</head>

<body>
  <h1>Olá! A página solicitada está sendo construída, portanto não está disponível no momento!</h1>
  <p>Você pode retornar para a página inicial da nossa aplicação clicando no carro abaixo!</p>
  <form method="GET" action="/home">
  <button class="botao">
    <img width="200px" src="/images/delorean.svg" alt="botao-home">
  </button>
  </form>
</body>

</html>