<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://jaobuenoh.github.io/code-stock/dashboard/src/main/resources/static/css/styleLogin.css">

    <title>Login</title>
</head>

<body>
    <main class="container">
        <form method="POST" th:action="@{/login}">
            <section class="logo">
                <h1>Stock Controller</h1>
            </section>
            <section class="login">
                <input type="email" placeholder="Email" id="login" name="email">
                <input type="password" placeholder="Senha" id="senha" name="password">
                <button type="submit" class="button-login">Login</button>
            </section>
        </form>
    </main>

</body>

</html>
