<!DOCTYPE html>
<html>
<head>

  <title>Em desenvolvimento</title>

  <style>
    body {
      font-family: Arial, sans-serif;
      text-align: center;
      padding: 50px;
    }
    
    h1 {
      color: #333;
    }
    
    p {
      color: #777;
      margin-bottom: 20px;
    }
  </style>

</head>


<body>

  <h1>Site em Desenvolvimento</h1>
  <p>Desculpe-nos pelo transtorno. O site está em desenvolvimento e estará disponível em breve.</p>
  <p>Acesso restrito apenas para administradores.</p>

  <div>

    <form class="centro-button" method="GET" action="/home">
        <button class="button-home btn btn-light m-1">Voltar para a Home</button>
    </form>


</div>

</body>


</html>
