<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cadastro Peças</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style_register.css">

    <noscript>

        <meta http-equiv="refresh" content="0;url=http://localhost:8080/malandro_sem_script">
        
    </noscript>

    <style>
        body {
            background-color: #343a40;
            background-size: 1980px 1080px;
            background-position: top center;
            padding: 100px
            
        }

        table, th, tr, td {
            background-color: #46494d;
            opacity: 1;
            border: 1px solid black;

        }

        .list-name, td{
            text-align: center;
        }

        div.busca{
            position: relative;

            top: -10px;
            left: 8px;
            
        }

        
        


    </style>

</head>
<body>

<form method="GET" action="/list">
    <table id="table-id" class="table">

        <div class="busca">
            <div class="col-sm-12 row">
              
                <input type="text" id="inputItemId" onkeyup="procurarItemId()"
                    placeholder="Localizar pelo número" title="Type in a name"
                    class="form-control w-25 mb-2 m-2" /> 
                   
                    <input type="text" id="inputNome" onkeyup="procurarItemNome()"
                    placeholder="Localizar pelo nome" title="Type in a name"
                    class="form-control w-50  mb-2 m-2" />
                    
                  
            </div>
            
        </div>

        

        
        <thead>
        <tr>
            <th class="list-name" scope="col">#</th>
            <th class="list-name" scope="col">Item</th>
            <th class="list-name" scope="col">Quantidade</th>
            <th class="list-name" scope="col">Data Lote</th>
            <th class="list-name" scope="col">Validade</th>
            <th class="list-name" scope="col">Edit/Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr data-th-each="itemEstoque : ${serviceController}">
            <td data-th-text="${itemEstoque.id_item_estoque}"></td>
            <td data-th-text="${itemEstoque.lote_item_estoque}"></td>
            <td data-th-text="${itemEstoque.quantidade_item_estoque}"></td>
            <td data-th-text="${itemEstoque.data_entrada_item_estoque}"></td>
            <td data-th-text="${itemEstoque.validade_item_estoque}"></td>
            <td>
                <a class="btn btn-dark" th:href="@{'/edit/'+${itemEstoque.id_item_estoque}}" onclick="confirmEdit(event)"> Edit </a>

                <a class="btn btn-danger" th:href="@{'/delete/'+${itemEstoque.id_item_estoque}}" onclick="confirmDelete(event)"> Delete </a>
            </td>


        </tr>

        </tbody>

    </table>
</form>

<form method="GET" action="/additens">
    <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-dark">Cadastar Novamente</button>
    </div>
</form>

<div class="d-flex justify-content-center position-home">

  <form class="centro-button" method="GET" action="/home">
      <button class="btn btn-danger m-3">Home</button>
  </form>


</div>

<div class="container-fluid d-flex flex-column vh-100"></div>
  
<footer class="fixed-bottom bg-dark py-3">
    <div class="container text-light text-center">
      <p class="display-6 mb-3">ACADEMIA JAVA - ATOS&UFN</p>
      <span class="text-white-50">&copy; 2023 Copyright: Desenvolvido por João Pedro Alves Bueno</span>
    </div>
  </footer>
</div>




<script>

    // Validações para não realizar auterações sem necessidade
    function confirmEdit(event) {
        event.preventDefault();

        if (confirm("Tem certeza que deseja editar?")) {
            // Se o usuário confirmar a edição, redirecione para o URL de edição
            window.location.href = event.target.getAttribute('href');
        } else {
            // Caso contrário, não faça nada
            return false;
        }
    }

    function confirmDelete(event) {
        event.preventDefault(); // Impede o redirecionamento padrão
        if (confirm("Tem certeza que deseja excluir?")) {
            // Se o usuário confirmar a exclusão, redirecione para o URL de exclusão
            window.location.href = event.target.getAttribute('href');
        } else {
            // Caso contrário, não faça nada
            return false;
        }
    }


    // Busca do items e suas especificações

    function procurarItemNome() {
  var input, toUpperCase, table, tr, td, i, thingValue;
  input = document.getElementById("inputNome");
  toUpperCase = input.value.toUpperCase();
  table = document.getElementById("table-id");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[1];
    if (td) {
        thingValue = td.textContent || td.innerText;
      if (thingValue.toUpperCase().indexOf(toUpperCase) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }       
  }
}

function procurarItemId() {
  var input, toUpperCase, table, tr, td, i, thingValue;
  input = document.getElementById("inputItemId");
  toUpperCase = input.value.toUpperCase();
  table = document.getElementById("table-id");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
        thingValue = td.textContent || td.innerText;
      if (thingValue.toUpperCase().indexOf(toUpperCase) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }       
  }
}



</script>

</body>
</html>